DATABASE_URL=file:/app/database/dev.db

SMTP_HOST="mail.diotek.xyz"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="primess@diotek.xyz"
SMTP_PASS="root1234"
SMTP_FROM='"diotek" <primess@diotek.xyz>'

PORT=8000